<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CategoriesFilePath" value="Data/categories.json"/>
		<add key="TradesFilesFolder" value="Data/Trades"/>
		<add key="TradesFilesErrorFolder" value="Data/Trades/Error"/>
		<add key="TradesFilesProcessedFolder" value="Data/Trades/Processed"/>
	</appSettings>
</configuration>